body{
  background-color: white;  
}
h1{
    color: white
}
p {
    color: white
}
.obsah {

  background-color: red;
  max-width: 800px;
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 1)
  0px 5px 15px;
  margin: 90px auto 90px auto;
}
a{
    color: white
}