body {
  background-color:ivory;
}
p {
  color: aliceblue;
  margin: 0px 0px 0px 30px;
}
a {
  color: white;
   margin: 5px 0px 0px 50px;
}
h1{
  color: honeydew;
  margin: 0px 0px 0px 150px;
}
img {
  width: 90%;
  border-radius: 50px;
  box-shadow: rgba(0, 0, 0, 1)
  0px 5px 15px;

}
.obsah {

  background-color: red;
  max-width: 800px;
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 1)
  0px 5px 15px;
  margin: 90px auto 90px auto;
}